.ship {float:left;}

li {float:left; padding-left:1rem; padding-right:1rem;margin-top:2rem;margin-left:1rem;list-style-type: none; font-family: sans-serif; color:blue; 
}

a {color:blue;}

h2 {font-family: 'Fjalla One', sans-serif;
  font-size: 45px;
  padding-right:left; 30%; 
  margin-top:18%;
  margin-left:45%;
  margin-right:10%;}

p {font-family: sans-serif; padding-left:45%; margin-right:10%;}

.price {font-size: 28px; font-weight:bold;} 

img {padding-left:1rem;margin-left:15%; float:left;}

.fa fa-star-o {float:left;clear:both;}
body {background-color: white; }
  
  